* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'mulish';
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

nav {
    min-height: 12vh;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 150px 0 150px;
    position: relative;
}

nav img {
    height: 60px;
    min-height: 40px;
}

nav .menu-btn {
    display: none;
}

nav .menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    padding-right: 150px;
    margin: auto 10px auto 0;
}

nav .menu li a {
    font-size: 17.6px;
    color: #4b4b58;
    letter-spacing: 2px;
    text-transform: capitalize;
    cursor: pointer;
    transition: color 1s ease, border 1s ease;
    text-decoration: none;
}

nav button a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffff;
}

nav button {
    width: 150px;
    height: 45px;
    background: #000;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
}

.li-btn button a {
    width: 150px;
    height: 45px;
    background: black;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
}

.li-btn {
    padding-left: 185px;
    display: none;
    margin: 0;
    padding: 0;
}

.hero-section {
    display: flex;
    padding: 100px 150px;
}

.section-1 {
    padding-top: 220px;
    padding-right: 150px;
}

.subsect-1 h2 {
    font-size: 49px;
    font-weight: 900;
    color: #4b4b58;
}

.subsect-1 p {
    padding: 20px 700px 0 0;
    font-size: 16px;
    color: #a5a5b3;
}

.subsect-2 {
    padding-top: 20px;
}

.subsect-2 button {
    width: 190px;
    height: 55px;
    border-radius: 4px;
}

.google-store {
    background-color: #4b4b58;
}

.section-2 {
    position: relative;
}

.phone1 {
    position: absolute;
    width: 300px;
    height: 610px;
    right: 25px;
}

.phone2 {
    position: absolute;
    width: 300px;
    height: 610px;
    right: 195px;
    top: 100px;
}

.card1 {
    position: absolute;
    width: 160px;
    height: 100px;
    top: 40px;
    right: 385px;
}

.card2 {
    position: absolute;
    width: 180px;
    height: 120px;
    top: 530px;
    right: 445px;
}

.hero-section_row {
    display: flex;
    padding: 150px 150px 100px 150px;
    justify-content: space-between;
}

.hero-section_banner {
    display: flex;
    padding: 0 150px;
    justify-content: space-between;
}

.banner-img {
    position: relative;
    padding-right: 170px;
}

.banner-img_1 {
    position: relative;
}

.banner-img_2 {
    position: absolute;
    z-index: 1;
    left: 250px;
    top: 165px;
}

.meet-up {
    padding: 20px 0 20px 95px;
}

.meet-up h2 {
    font-size: 49px;
    font-weight: 900;
    color: #4b4b58;
    width: 539px;
}

.meet-up p {
    padding: 30px 35px 0 0;
    font-size: 17px;
    color: #a5a5b3;
    width: 531px;
}

.products-section {
    display: flex;
    justify-content: space-between;
    padding: 100px 150px 50px 150px;
}

.products-img {
    position: relative;
}

.products-img_1 {
    padding-left: 50px;
}

.products-img_1 img {
    width: 300px;
    height: 610px;
}

.products-img_2 {
    position: absolute;
    z-index: 1;
    left: 230px;
    top: 380px;
}

.products-img_2 img {
    width: 185px;
    height: 125px;
}

.products-text {
    padding: 200px 0 0 350px;
}

.products-text h3 {
    font-size: 34px;
    font-weight: 900;
    padding-bottom: 30px;
    color: #4b4b58;
    width: 563px;
}

.products-text p {
    font-size: 16px;
    font-weight: 400;
    padding-right: 60px;
    color: #a5a5b3;
    width: 551px;
}

.chat-section {
    position: relative;
    width: 100%;
    padding-top: 350px;
}

.chat-text {
padding: 0 800px 50px 100px;
}

.chat-text h3 {
    font-size: 34px;
    font-weight: 900;
    padding-bottom: 30px;
    color: #4b4b58;
    width: 434px;
}

.chat-text p {
    font-size: 16px;
    font-weight: 400;
    padding-right: 80px;
    color: #a5a5b3;
    width: 444px;
}

.chat-img_1 {
    width: 100%;
}

.chat-img_1 img {
    width: 100%;
}

.chat-img_2 img {
    width: 300px;
    height: 610px;
}

.chat-img_2 {
    position: absolute;
    left: 1000px;
    top: 105px;
}

.chat-img_3 {
    position: absolute;
    left: 875px;
    top: 540px;
}

.chat-img_3 img {
    width: 185px;
    height: 124px;
}

.track-section {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
}

.track-img_1 img{
    width: 300px;
    height: 610px;
}

.track-img_1 {
    position: absolute;
    top: 850px;
    left: 180px;
}

.track-img_2 {
    position: absolute;
    top: 1260px;
    left: 400px;
}

.track-img_2 img {
    width: 185px;
    height: 124px;
}

.track-text {
    position: absolute;
    padding-top: 280px;
    padding-left: 370px;
    top: 800px;
    left: 400px;
}

.track-text h3 {
    font-size: 34px;
    font-weight: 900;
    padding-bottom: 30px;
    color: #4b4b58;
    width: 460px;
}

.track-text p {
    font-size: 16px;
    font-weight: 400;
    padding: 0 21px 0 0;
    color: #a5a5b3;
    width: 460px;
}

.review-section {
    padding: 50px 150px;
}

.review_h1_p {
    text-align: center;
}

.review_h1_p h1 {
    font-size: 34px;
    font-weight: 900;
    padding-bottom: 30px;
    color: #4b4b58;
}

.review_h1_p p {
    font-size: 16px;
    font-weight: 400;
    color: #a5a5b3;
}

.review-img_p {
    display: flex;
    padding-top: 30px;
}

.pre-next_white {
    padding-left: 20px;
    padding-top: 100px;
}

.pre-next_white img:hover {
    cursor: pointer;
}

.pre-next_white img {
    width: 80px;
    height: 80px;
}

.shola-img {
    padding-left: 20px;
}

.shola-img img {
    width: 435px;
    height: 300px;
}

.pre-next_red {
    padding-left: 20px;
    padding-top: 100px;
}

.pre-next_red img:hover {
    cursor: pointer;
}

.pre-next_red img {
    width: 80px;
    height: 80px;
}

.review_p {
    padding-top: 40px;
    padding-left: 155px;
    padding-right: 50px;
}

.review_p p {
    color: #a5a5b3;
    width: 348px;
}

.review_p h3 {
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 30px;
    color: #4b4b58;
}

.review_p h4 {
    font-size: 16px;
    font-weight: 800;
    padding-bottom: 20px;
    color: #4b4b58;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}

form label {
    font-size: 25px;
    font-weight: 700;
    color: #4b4b58;
}

#subscribe {
    width: 300px;
    height: 55px;
    padding-left: 15px;
    border: solid 1px grey;
    outline: none;
}

#submit {
    width: 137px;
    height: 62px;
    background-color: #4b4b4b;
    color: #ffffff;
    font-size: 16px;
    border-radius: 4px;
}

#submit:hover {
    font-size: 17px;
    cursor: pointer;
}

.footer-nav {
    display: flex;
}

.footer-navlinks {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.footer-navlinks_2 {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.footer-navlinks a {
    text-decoration: none;
    padding-top: 15px;
    color: #4b4b58;
}

.footer-navlinks_2 a {
    text-decoration: none;
    padding-top: 15px;
    color: #4b4b58;
}

.footer-navlinks h3 {
    font-size: 16px;
    font-weight: 800;
    padding-bottom: 10px;
    color: #4b4b58;
}

.support h3 {
    font-size: 16px;
    font-weight: 800;
    padding-bottom: 20px;
    color: #4b4b58;
}

.support p {
    padding-bottom: 15px;
    color: #a5a5b3;
}

.support a {
    text-decoration: none;
    padding-top: 15px;
    color: #4b4b58;
}

.socials {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

@media only screen and (max-width: 1366px) {

    .hero-section {
        padding: 100px 100px;
    }

    .hero-section_banner {
        padding: 0 100px;
    }

    .hero-section_row {
        padding: 150px 100px 100px 100px;
    }

    .products-section {
        padding: 100px 100px 50px 100px;
    }

    .review-section {
        padding: 50px 100px;
    }

    footer { 
        padding: 50px 100px;
    }

    .subsect-1 h2 {
        font-size: 45px;
    }

    .chat-text h3 {
        width: 452px;
    }

    .track-text h3 {
        width: 480px;
    }

    .meet-up h2 {
        font-size: 42px;
    }
}

@media only screen and (max-width: 1353px) {

    .subsect-1 h2 {
        font-size: 42px;
    }

    .subsect-1 p {
        padding: 20px 520px 0 0;
    }

    .meet-up h2 {
        font-size: 42px;
    }

    .meet-up {
        padding: 20px 0 20px 0;
    }

    .products-text {
        padding: 200px 0 0 260px;
    }

    .products-section {
        padding: 100px 100px 50px 100px;
    }

    nav {
        padding: 75px 100px 0 100px;
    }

    .hero-section {
        padding: 100px 100px;
    }

    .hero-section_row {
        padding: 150px 100px 100px 100px;
    }

    .hero-section_banner {
        padding: 0 100px;
    }

    .chat-img_3 {
        left: 780px;
        top: 576px;
    }

    .chat-img_2 {
        left: 904px;
        top: 130px;
    }

    .track-img_1 {
        top: 820px;
    }

    .track-img_2 {
        top: 1236px;
    }

    .products-img_2 {
        left: 280px;
    }

    .review-section {
        padding: 50px 100px;
    }
}

@media only screen and (max-width: 1300px) {
    .review_p {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1280px) {
    .hero-section {
        padding: 100px 75px;
    }

    .hero-section_row {
        padding: 225px 75px 100px 75px;
    }

    .hero-section_banner {
        padding: 0 75px;
    }

    .products-text {
        padding: 200px 0 0 200px;
    }

    .chat-img_3 {
        top: 545px;
    }

    .review-section {
        padding: 50px 75px;
    }

    footer {
        padding: 50px 75px 100px 75px;
    }

    .track-text {
        padding-left: 295px;
        top: 750px;
    }

    .track-img_1 {
        top: 760px;
    }

    .track-img_2 {
        top: 1176px;
    }
}

@media only screen and (max-width: 1275px) {
    .banner-img {
        padding-right: 100px;
    }

    .track-text {
        padding-left: 300px;
        top: 600px;
    }

    .hero-section_row {
        padding: 150px 50px 100px 50px;
    }

    .hero-section {
        padding: 100px 50px;
    }

    .hero-section_banner {
        padding: 0 50px;
    }

    .products-section {
        padding: 100px 50px 50px 50px;
    }

    .review-section {
        padding: 50px 50px;
    }

    footer {
        padding: 50px 75px;
    }

    .track-img_1 {
        top: 670px;
    }

    .track-img_2 {
        top: 1120px;
    }

    .chat-img_3 {
        left: 720px;
    }

    .chat-img_2 {
        left: 835px;
    }
}


@media only screen and (max-width: 1270px) {

    .products-text {
        padding: 200px 0 0 100px;
    }
}

@media only screen and (max-width: 1241px) {
    .track-text {
        padding-left: 350px;
    }
}

@media only screen and (max-width: 1220px) {
    .track-text {
        padding-left: 300px;
    }
}

@media only screen and (max-width: 1160px) {
    
    .track-text {
        padding-left: 235px;
    }

    .track-text h3 {
        font-size: 30px;
    }

    .chat-text h3 {
        font-size: 30px;
    }

    .products-text h3 {
        font-size: 30px;
    }

    .row-img1 img {
        width: 300px;
        height: 275px;
    }

    .row-img2 img {
        width: 300px;
        height: 275px;
    }

    .row-img3 img {
        width: 300px;
        height: 275px;
    }

    .phone1 {
        width: 250px;
        height: 510px;
    }

    .phone2 {
        width: 250px;
        height: 510px;
    }

    .card1 {
        width: 160px;
        height: 100px;
        top: 34px;
        right: 350px;
    }

    .card2 {
        width: 160px;
        height: 100px;
        top: 460px;
        right: 370px;
    }

    .products-img_1 img {
        width: 250px;
        height: 510px;
    }

    .products-img_2 img {
        width: 165px;
        height: 105px;

    }

    .products-img_2 {
        left: 240px;
        top: 300px;
    }

    .chat-img_2 img {
        width: 250px;
        height: 510px;
    }

    .chat-img_2 {
        top: 175px;
    }

    .chat-img_3 img {
        width: 165px;
        height: 105px;
    }

    .chat-img_3 {
        top: 540px;
    }

    .track-img_1 img {
        width: 250px;
        height: 510px;
    }

    .track-img_2 img {
        width: 165px;
        height: 105px;
    }

    .track-img_2 {
        top: 1015px;
        left: 365px;
    }
}

@media only screen and (max-width: 1137px) {
    .review_p {
        padding: 0 25px;
    }

    .banner-img {
        padding-right: 10px;
    }

    .shola-img img {
        width: 400px;
        height: 265px;
    }

    .pre-next_red img {
        width: 65px;
        height: 65px;
    }

    .pre-next_white img {
        width: 65px;
        height: 65px;
    }

    .pre-next_white {
        padding-left: 10px;
    }

    .pre-next_red {
        padding-left: 10px;
    }

    .shola-img {
        padding-left: 10px;
    }

    .hero-section_row {
        padding: 50px 50px 100px 50px;
    }

    .subsect-1 h2 {
        font-size: 40px;
    }

    .meet-up h2 {
        font-size: 40px;
    }

    .subsect-2 button {
        width: 175px;
        height: 43px;
    }
}

@media only screen and (max-width: 1094px) {
    .track-text {
        padding-left: 200px;
    }

    .chat-img_2 {
        left: 690px;
    }

    .chat-img_3 {
        left: 600px;
    }

    .track-img_1 {
        left: 120px;
    }

    .track-img_2 {
        left: 300px;
    }
}

@media only screen and (max-width: 1068px) {
    .track-text {
        padding-left: 125px;
    }

    .products-text h3 {
        width: 525px;
    }

    .products-text p {
        width: 500px;
    }

    .banner-img_1 img {
        width: 363px;
        height: 257px;
    }

    .banner-img_2 {
        left: 190px;
        top: 120px;
    }
}

@media only screen and (max-width: 1024px) {

    nav .menu {
    padding-right: 150px;
    }

    .hero-section {
        padding: 50px 25px;
    }

    .hero-section_banner {
        padding: 0 25px;
    }

    .hero-section_row {
        padding: 175px 25px 100px 25px;
    }

    .products-section {
        padding: 75px 25px 0 25px;
    }

    .review-section {
        padding: 50px 25px;
    }

    footer { 
        padding: 50px 50px;
    }

    .subsect-1 p {
        padding: 20px 375px 0 0;
    }

    .track-text h3 {
        width: 480px;
    }

    .track-text p {
        width: 400px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    nav {
       padding: 15px 40px 5px 40px;
    }

    nav .menu{
       width: 35%;
       padding: 0;
    }

    nav .menu li a {
       font-size: 1rem;
    }

    nav img {
       height: 45px;
       min-height: 40px;
    }
}

@media only screen and (min-width: 540px) and (max-width: 768px) {

    .hero-section {
        display: flex;
        flex-direction: column;
        padding: 0 50px;
    }

    .section-1 {
        padding-top: 20px;
        padding-left: 30px;
        text-align: center;
        padding-right: 30px;
        padding-bottom: 20px;
        
    }

    .section-1 h2 {
        font-size: 39px;
        font-weight: 900;
        width: 618px;
    }

    .section-1 p {
        font-size: 16px;
        font-weight: 400;
        width: 500px;
        padding: 24px 0 0 114px;
    }

    .subsect-2 button img {
        width: 94px;
    }

    .subsect-2 button {
        width: 114px;
        height: 34px;
    }

    .subsect-2 {
        padding: 20px 0 50px 0;
    }

    .subsect-2 {
        position: relative;
    }

    .subsect-2 button {
        position: absolute;
    }

    .google-store {
        left: 170px;
    }

    .app-store {
        left: 325px;
    }

    .phone1 {
        position: absolute;
        width: 128px;
        height: 272px;
        right: 185px;
    }

    .phone2 {
        position: absolute;
        width: 128px;
        height: 272px;
        right: 270px;
        top: 62px;
    }

    .card1 {
        position: absolute;
        width: 89px;
        height: 55px;
        top: 30px;
        right: 350px;
    }

    .card2 {
        position: absolute;
        width: 89px;
        height: 55px;
        top: 252px;
        right: 380px;
    }

    .hero-section_row {
        display: flex;
        flex-direction: column;
        padding: 350px 50px 50px 50px;
        align-items: center;
    }

    .row-img1 {
        padding-top: 10px;
    }

    .row-img1 img {
        width: 400px;
        height: 375px;
    }

    .row-img2 img {
        width: 400px;
        height: 375px;
    }

    .row-img3 img {
        width: 400px;
        height: 375px;
    }

    .row-img2 {
        padding-top: 10px;
    }

    .row-img3 {
        padding-top: 10px;
    }

    .hero-section_banner {
        display: flex;
        flex-direction: column;
        padding: 0 31px;
    }

    .banner-img_1 img {
        width: 463px;
        height: 310px;
    }

    .banner-img_2 img {
        width: 196px;
        height: 135px;
    }

    .banner-img {
        position: relative;
        padding-right: 0;
        left: 120px;
        width: 500px;
    }

    .banner-img_2 {
        position: absolute;
        top: 147px;
        left: 220px;
    }

    .meet-up h2 {
        font-size: 30px;
        font-weight: 900;
        width: 471px;
        margin: 0 100px;
    }

    .meet-up p {
        font-size: 16px;
        width: 370px;
        padding: 25px 0 0 0;
        margin: 0 150px;
    }

    .meet-up {
        text-align: center;
        padding: 20px 0 0 0;
        margin: 0 15px;
    }

    .products-section {
        display: flex;
        flex-direction: column;
        padding: 50px 0 50px 0;
    }

    .products-img {
        position: relative;
        padding: 0 0 0 118px;
    }

    .products-img_1 img {
        width: 128px;
        height: 272px;
    }

    .products-img_1 {
        padding-left: 150px;
    }

    .products-img_2 img {
        width: 105px;
        height: 74px;
    }

    .products-img_2 {
        position: absolute;
        z-index: 1;
        left: 374px;
        top: 165px;
    }

    .products-text {
        padding: 30px 0 0 0px;
        text-align: center;
    }

    .products-text h3 {
        font-size: 30px;
        width: 411px;
        margin-left: 160px;
        padding-bottom: 20px;
    }

    .products-text p {
        width: 305px;
        margin: 0 207px;
        padding-right: 0;
    }

    .chat-section {
        display: flex;
        flex-direction: column;
        padding-top: 300px;
    }

    .chat-img_2 img {
        width: 128px;
        height: 272px;
    }

    .chat-img_2 {
        position: absolute;
        left: 365px;
        top: 0px;
    }

    .chat-img_3 {
        position: absolute;
        left: 290px;
        top: 180px;
    }

    .chat-img_3 img {
        width: 105px;
        height: 74px;
    }

    .chat-text {
        text-align: center;
        padding: 0 375px 50px 50px;
    }

    .chat-text h3 {
        width: 450px;
        font-size: 30px;
        padding-bottom: 20px;
        margin: 0 95px;
    }

    .chat-text p {
        width: 330px;
        font-size: 16px;
        padding-right: 0px;
        margin: 0 155px;
    }

    .chat-img_1 img {
        height: 500px;
    }

    .track-img_1 img{
        width: 128px;
        height: 272px;
    }

    .track-img_2 img {
        width: 105px;
        height: 74px;
    }

    .track-img_1 {
        position: absolute;
        top: 576px;
        left: 230px;
    }

    .track-img_2 {
        position: absolute;
        top: 740px;
        left: 335px;
    }

    .track-text {
        position: absolute;
        text-align: center;
        padding-top: 280px;
        padding-left: 0;
        top: 595px;
        left: 0;
    }

    .track-text h3 {
        font-size: 30px;
        padding-bottom: 20px;
        width: 425px;
        margin: 0 147px;
    }

    .track-text p {
        font-size: 16px;
        width: 350px;
        padding: 0;
        margin: 0 188px;
    }

    .review-section {
        padding: 20px 20px;
    }

    .review_h1_p h1 {
        padding-bottom: 10px;
    }

    .review_h1_p p {
        width: 321px;
        margin: 0 200px;
    }

    .review-img_p {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 10px;
    }

    .shola-img {
        padding-top: 10px;
        padding-left: 230px;
    }

    .shola-img img {
        width: 256px;
        height: 181px;
    }

    .pre-next_white img {
        width: 50px;
        height: 50px;
    }

    .pre-next_white {
        padding: 0;
        position: absolute;
        top: 215px;
        left: 285px;
    }

    .pre-next_red img {
        width: 50px;
        height: 50px;
    }

    .pre-next_red {
        padding: 0;
        position: absolute;
        top: 215px;
        left: 385px;
    }

    .review_p h3 {
        width: 200px;
        margin: 0 252px;
        padding-top: 75px;
        padding-left: 13px;
    }

    .review_p {
        padding: 0;
    }

    .review_p h4 {
        text-align: center;
        width: 210px;
        margin: 0 248px;
    }

    .review_p p {
        width: 348px;
        margin: 0 175px;
        padding: 0 20px;
        text-align: center;
    }

    footer {
        position: relative;
        padding: 50px 50px 150px 50px;
    }

    form {
        position: absolute;
    }

    form label {
        position: absolute;
        bottom: 85px;
        left: 5px;
    }

    #subscribe {
        width: 230px;
        height: 56px;
        padding-left: 8px;
    }

    #submit {
        width: 171px;
        font-size: 16px;
    }

    .footer-navlinks {
        position: absolute;
        top: 22px;
        left: 505px;
    }

    .footer-navlinks_2 {
        padding-top: 0;
        padding-left: 553px;
    }

    .support {
        position: absolute;
        top: 180px;
        left: 50px;
    }

    .socials {
        padding-top: 0;
        padding-left: 655px;
        margin: -60px -352px;
    }
}

@media only screen and (max-width: 767px) {
    nav {
       padding:0;
       z-index: 1;
    }

    nav .menu {
       position: absolute;
       top: 12vh;
       left: 0;
       min-width: 100%;
       background: rgba(15, 20, 35, 0.99);
       text-align: center;
       display: none;
       padding: 0;
       justify-content: center;
       height: 315px;
    }

    .li-btn {
        display: block;
       color: #fff;
       padding: 0;
    }

    .li-btn a {
        font-size: 10px;
    }

    nav .menu li {
       display: block;
    }

    nav .menu li a {
       display: block;
       padding: 20px;
       top: -2px;
       color: #fff;
       transition: color 1s ease, padding 1s ease, background-color 1s ease;
    }

    nav li a:hover{
       color: #B1D4E0;
       padding-left: 30px;
       background: rgba(177, 212, 224, 0.2);
    }

    .menu-icon {
       cursor: pointer;
       position: relative;
       padding: 28px 20px;
       user-select: none;
       float: right;
    }

    .menu-icon span {
       background: black;
       display: block;
       height: 2px;
       position: relative;
       width: 18px;
       transition: background ease-out .2s;
    }

    .menu-icon span::before,
    .menu-icon span::after {
       background: black;
       content: '';
       display: block;
       height: 100%;
       position: absolute;
       width: 100%;
       transition: all ease-out .2s;
    }

    .menu-icon span::before {
       top: 5px;
    }

    .menu-icon span::after {
       top: -5px;
    }

    .menu-btn:checked ~ .menu-icon span {
       background: transparent;
    }

    .menu-btn:checked ~ .menu-icon span::before {
       transform: rotate(-45deg);
       background: #E44C65;
       top: 0;
    }

    .menu-btn:checked ~ .menu-icon span::after {
       transform: rotate(45deg);
       background: #E44C65;
       top: 0;
    }

    .menu-btn {
       display: none;
    }

    .menu-btn:checked ~ .menu{
       display: block;
    }

    nav img {
       height: 40px;
       min-height: 35px;
    }

    nav .btn {
       display: none;
    }
}

@media only screen and (max-width: 540px) {
    nav {
        padding: 0 25px;
    }

    .section-1 h2 {
        font-size: 35px;
        padding-right: 0;
        width: 525px;
        margin: 0 -70px;
    }

    .section-1 p {
        padding: 24px 0 0 0;
        width: 395px;
    }

    .google-store {
        left: 68px;
    }

    .app-store {
    left: 210px;
    }

    .phone1 {
        right: 104px;
    }

    .phone2 {
        right: 187px;
    }

    .card1 {
        right: 260px;
        top: 25px;
    }

    .card2 {
        right: 285px;
    }

    .banner-img {
        left: 121px;
        width: 334px;
        margin: 0;
    }

    .banner-img_1 {
        right: 112px;
    }

    .banner-img_2 {
        top: 162px;
        left: 131px;
    }

    .meet-up h2 {
        margin: 0 -8px;
    }

    .meet-up p {
        margin: 0 40px;
    }

    .products-img_1 {
        padding-left: 40px;
    }

    .products-img_2 {
        left: 265px;
    }

    .products-text h3 {
        margin-left: 65px;
    }

    .products-text p {
        margin: 0 115px;
    }

    .chat-text h3 {
        margin: 0 -8px;
    }

    .chat-text p {
        margin: 0 50px;
    }

    .chat-img_2 {
        left: 245px;
    }

    .chat-img_3 {
        left: 167px;
    }

    .track-text {
        left: -90px;
        width: 525px;
    }

    .track-text h3 {
        width: 423px;
        margin: 0 147px;
    }

    .track-img_1 {
        left: 170px;
    }

    .track-img_2 {
        left: 266px;
    }

    .review_h1_p p {
        margin: 0 95px;
    }

    .shola-img {
        padding-left: 125px;
    }

    .pre-next_white {
        left: 185px;
    }

    .pre-next_red {
        left: 280px;
    }

    .review_p h3 {
        margin: 0 163px;
        width: 205px;
    }

    .review_p h4 {
        margin: 0 153px;
    }

    .review_p p {
        margin: 0 80px;
    }

    .footer-navlinks {
        top: 180px;
        left: 53px;
    }

    .footer-navlinks_2 {
        padding-top: 156px;
        padding-left: 255px;
    }

    .support {
        top: 360px;
    }

    .socials {
        padding-left: 478px;
        margin: -60px -224px;
    }

    footer {
        padding-bottom: 200px;
    }
}

@media only screen and (max-width: 425px) {

    nav {
        padding: 0 25px;
    }
    .hero-section {
        display: flex;
        flex-direction: column;
        padding: 0 25px;
    }

    .section-1 {
        padding-top: 20px;
        padding-left: 20px;
        text-align: center;
        padding-right: 30px;
        padding-bottom: 20px;
    }

    .section-1 h2 {
        font-size: 25px;
        font-weight: 900;
        width: 321px;
        margin: 0;
    }

    .section-1 p {
        font-size: 16px;
        font-weight: 400;
        width: 321px;
        padding: 24px 0 0 0;
    }

    .subsect-2 button img {
        width: 94px;
    }

    .subsect-2 button {
        width: 114px;
        height: 34px;
    }

    .subsect-2 {
        padding: 20px 0 50px 0;
    }

    .subsect-2 {
        position: relative;
    }

    .subsect-2 button {
        position: absolute;
    }

    .google-store {
        left: 40px;
    }

    .app-store {
        left: 165px;
    }

    .phone1 {
        position: absolute;
        width: 128px;
        height: 272px;
        right: 75px;
    }

    .phone2 {
        position: absolute;
        width: 128px;
        height: 272px;
        right: 160px;
        top: 62px;
    }

    .card1 {
        position: absolute;
        width: 89px;
        height: 55px;
        top: 30px;
        right: 240px;
    }

    .card2 {
        position: absolute;
        width: 89px;
        height: 55px;
        top: 252px;
        right: 257px;
    }

    .hero-section_row {
        display: flex;
        flex-direction: column;
        padding: 350px 50px 50px 50px;
        align-items: center;
    }

    .row-img1 {
        padding-top: 10px;
    }

    .row-img2 {
        padding-top: 10px;
    }

    .row-img3 {
        padding-top: 10px;
    }

    .hero-section_banner {
        display: flex;
        flex-direction: column;
        padding: 0 31px;
    }

    .banner-img_1 img {
        width: 363px;
        height: 257px;
    }

    .banner-img_2 img {
        width: 133px;
        height: 103px;
    }

    .banner-img {
        position: relative;
        padding-right: 0;
        width: 200px;
    }

    .banner-img_2 {
        position: absolute;
        top: 147px;
        left: 107px;
    }

    .meet-up h2 {
        font-size: 25px;
        font-weight: 900;
        width: 282px;
        margin: 0 25px;
    }

    .meet-up p {
        font-size: 16px;
        width: 336px;
        padding: 25px 0 0 0;
        margin: 0;
    }

    .meet-up {
        text-align: center;
        padding: 20px 0 0 0;
        margin: 0 15px;
    }

    .products-section {
        display: flex;
        flex-direction: column;
        padding: 50px 0 50px 0;
    }

    .products-img {
        position: relative;
        padding: 0 0 0 118px;
    }

    .products-img_1 img {
        width: 128px;
        height: 272px;
    }

    .products-img_1 {
        padding-left: 10px;
    }

    .products-img_2 img {
        width: 105px;
        height: 74px;
    }

    .products-img_2 {
        position: absolute;
        z-index: 1;
        left: 215px;
        top: 165px;
    }

    .products-text {
        padding: 30px 0 0 0px;
        text-align: center;
    }

    .products-text h3 {
        font-size: 25px;
        width: 324px;
        margin-left: 48px;
        padding-bottom: 20px;
    }

    .products-text p {
        width: 305px;
        margin: auto;
        padding-right: 0;
    }

    .chat-section {
        display: flex;
        flex-direction: column;
        padding-top: 300px;
    }

    .chat-img_2 img {
        width: 128px;
        height: 272px;
    }

    .chat-img_2 {
        position: absolute;
        left: 150px;
        top: 0px;
    }

    .chat-img_3 {
        position: absolute;
        left: 70px;
        top: 180px;
    }

    .chat-img_3 img {
        width: 105px;
        height: 74px;
    }

    .chat-text {
        text-align: center;
        padding: 0 375px 50px 50px;
    }

    .chat-text h3 {
        width: 332px;
        font-size: 25px;
        padding-bottom: 20px;
    }

    .chat-text p {
        width: 330px;
        font-size: 16px;
        padding-right: 0px;
        margin: 0 -7px;
    }

    .chat-img_1 img {
        height: 500px;
    }

    .track-img_1 img{
        width: 128px;
        height: 272px;
    }

    .track-img_2 img {
        width: 105px;
        height: 74px;
    }

    .track-img_1 {
        position: absolute;
        top: 576px;
        left: 150px;
    }

    .track-img_2 {
        position: absolute;
        top: 740px;
        left: 237px;
    }

    .track-text {
        position: absolute;
        text-align: center;
        padding-top: 280px;
        padding-left: 0;
        top: 595px;
        left: 0;
        width: 400px;
    }

    .track-text h3 {
        font-size: 25px;
        padding-bottom: 20px;
        width: 353px;
        margin: 0 35px;
    }

    .track-text p {
        font-size: 16px;
        width: 341px;
        padding: 0;
        margin: 0 42px;
    }

    .review-section {
        padding: 20px 20px;
    }

    .review_h1_p h1 {
        padding-bottom: 10px;
    }

    .review_h1_p p {
        width: 321px;
        margin: 0 32px;
    }

    .review-img_p {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 10px;
    }

    .shola-img {
        padding-top: 10px;
        padding-left: 65px;
    }

    .shola-img img {
        width: 256px;
        height: 181px;
    }

    .pre-next_white img {
        width: 50px;
        height: 50px;
    }

    .pre-next_white {
        padding: 0;
        position: absolute;
        top: 215px;
        left: 129px;
    }

    .pre-next_red img {
        width: 50px;
        height: 50px;
    }

    .pre-next_red {
        padding: 0;
        position: absolute;
        top: 215px;
        left: 212px;
    }

    .review_p h3 {
        width: 184px;
        margin: 0 100px;
        padding-top: 75px;
        padding-left: 0;
    }

    .review_p {
        padding: 0;
    }

    .review_p h4 {
        text-align: center;
        width: 210px;
        margin: 0 85px;
    }

    .review_p p {
        width: 348px;
        margin: auto;
        padding: 0 20px;
        text-align: center;
    }

    footer {
        position: relative;
        padding: 50px 50px 200px 50px;
    }

    form {
        position: absolute;
    }

    form label {
        position: absolute;
        bottom: 90px;
        left: 103px;
    }

    #subscribe {
        width: 210px;
        height: 56px;
        padding-left: 8px;
    }

    #submit {
        width: 120px;
        font-size: 14px;
    }

    .footer-navlinks {
        position: absolute;
        top: 180px;
        left: 40px;
    }

    .footer-navlinks_2 {
        padding-left: 195px;
    }

    .support {
        position: absolute;
        top: 360px;
        left: 40px;
    }

    .socials {
        padding-left: 169px;
        margin: -10px -70px;
    }
}

@media only screen and (max-width: 414px) {
    .socials {
        padding-left: 165px;
        margin: -4px -90px;
    }

    .support {
        position: absolute;
        top: 340px;
        left: 40px;
    }

    .footer-navlinks_2 {
        padding-left: 185px;
    }

    .chat-text p {
        margin: 0 -8px;
    }

    .chat-text {
        padding-right: 364px;
    }

    .meet-up p {
        margin: 0 -6px;
    }

    .track-text {
        margin: 0 -14px;
        width: 399px;
    }

    .banner-img {
        margin: 0 -123px;
    }

    .banner-img_1 {
        right: 2px;
    }

    .section-1 h2 {
        margin: 0 -45px;
        padding-right: 0;
        width: 410px;
    }
}

@media only screen and (max-width: 411px) {

    .section-1 h2 {
        width: 400px;
    }

    .card2 {
        right: 240px;
    }

    .card1 {
        right: 220px;
        top: 24px;
    }

    .phone1 {
        right: 60px;
    }

    .phone2 {
        right: 143px;
    }

    .track-text {
        width: 400px;
    }

    .shola-img {
        padding-left: 55px;
    }

    .pre-next_white {
        left: 109px;
    }

    .review_p h3 {
        margin: 0 93px;
    }

    .review_p h4 {
        margin: 0 77px;
    }

    .review_h1_p p {
        margin: 0 24px;
    }

    .banner-img {
        right: 7px;
        margin: 0 -128px;
    }

    .banner-img_1 {
        right: -1px;
    }

    .meet-up h2 {
        margin: 0 20px;
    }

    .meet-up p {
        padding: 25px 16px 0 0;
        margin: 0;
    }

    .chat-text p {
        margin: 0 -8px;
    }

    .chat-text {
        padding-right: 360px;
    }

    .support {
        left: 40px;
        top: 355px;
    }

    form label {
        left: 89px;
    }

    #subscribe {
        width: 183px;
    }

    .footer-navlinks_2 {
        padding-top: 161px;
        padding-left: 185px;
    }

    .socials {
        padding: 20px 0 0 115px;
        margin: 0 -50px;
    }

    footer {
        padding-bottom: 200px;
    }
}

@media only screen and (max-width: 400px) {
    nav {
       padding: 0 25px;
    }

    nav img {
       height: 35px;
       min-height: 25px;
    }

}

@media only screen and (max-width: 375px) {

    .section-1 {
        padding-bottom: 20px;
    }
    
    .section-1 h2 {
        padding-right: 0px;
        width: 325px;
        margin: 0 -20px;
    }

    .section-1 p {
        padding: 24px 35px 0 0;
    }

    .subsect-2 {
        position: relative;
    }

    .subsect-2 button {
        position: absolute;
    }

    .google-store {
        left: 18px;
    }

    .app-store {
        left: 148px;
    }

    .banner-img_1 {
        right: -10px;
    }

    .track-text h3 {
        width: 230px;
        margin: 0 55px;
    }

    .track-text p {
        padding: 0;
        margin: 0;
    }

    .track-text {
        left: 18px;
        top: 615px;
    }

    .chat-text {
        padding: 0 333px 50px 42px;
    }

    .chat-text P {
        padding-right: 35px;
    }

    .chat-text h3 {
        padding-right: 40px;
    }

    .meet-up p {
        padding: 25px 0 0 0;
        margin: 0 -30px;
    }

    .meet-up h2 {
        margin: 0 1px;
    }

    .banner-img_1 img {
        width: 310px;
        height: 200px;
    }

    .banner-img_2 img {
        width: 125px;
        height: 80px;
    }

    .banner-img_2 {
        top: 111px;
        left: 172px;
    }

    .phone1 {
        right: 40px;
    }

    .phone2 {
        right: 125px;
    }

    .card1 {
        right: 207px;
        top: 25px;
    }

    .card2 {
        right: 226px;
    }

    .products-text h3 {
        margin-left: 27px;
    }

    .track-img_1 {
        top: 610px;
        left: 119px;
    }

    .track-img_2 {
        top: 770px;
        left: 205px;
    }

    .track-text {
        top: 620px;
        left: 28px;
        width: 350px;
    }

    .shola-img {
        padding-left: 40px;
    }

    .review_p p {
        padding: 0 10px 0 0px;
    }

    .review_p h3 {
        margin: 0 76px;
        padding-left: 0;
    }

    .review_p h4 {
        margin: 0 60px;
    }

    .review_h1_p p {
        margin: 0 6px;
    }

    .pre-next_white {
        left: 100px;
    }

    .pre-next_red {
        left: 187px;
    }

    .support {
        left: 40px;
        top: 355px;
    }

    #subscribe {
        width: 165px;
    }

    #submit {
        width: 110px;
    }

    .footer-navlinks_2 {
        padding-top: 161px;
        padding-left: 145px;
    }

    .socials {
        padding: 20px 0 0 115px;
        margin: 0 -50px;
    }

    footer {
        padding-bottom: 225px;
    }
}

@media only screen and (max-width: 360px) {
    .section-1 p {
        padding: 24px 0 0 0;
        margin: 0 -25px;
    }

    .section-1 h2 {
        padding-right: 15px;
    }

    .banner-img_1 img {
        width: 300px;
        height: 193px;
    }

    .banner-img_1 {
        right: -7px;
        width: 325px;
    }

    .meet-up h2 {
        margin: 0 -7px;
    }

    .meet-up p {
        margin: 0 -35px;
    }

    .products-text h3 {
        margin-left: 17px;
    }

    .chat-text h3 {
        padding-right: 0;
        margin: 0 -25px;
    }

    .chat-text {
        padding-right: 0;
        width: 325px
    }

    .chat-text p {
        padding-right: 0;
        margin: 0 -24px;
    }

    .track-text {
        top: 555px;
        left: 25px;
        width: 325px;
    }

    .track-img_1 {
        top: 535px;
    }

    .track-img_2 {
        top: 700px;
    }

    .track-text p {
        padding: 0 10px;
        margin: 0 -8px;
    }

    .review_h1_p {
        margin: 0 0;
    }

    .review_p p {
        padding: 0;
        width: 325px;
    }

    .review_h1_p p {
        margin: 0 8px;
    }

    .footer-navlinks_2 {
        padding-left: 130px;
        padding-top: 160px;
    }

    form label {
        left: 75px;
    }

    footer {
        padding-bottom: 225px;
    }
}

@media only screen and (max-width: 320px) {

    .section-1 h2  {
        padding-right: 0;
        width: 300px;
        margin: 0 -28px;
    }

    .section-1 p{
        width: 300px;
        margin: 0 -30px;
    }

    .card1 {
        right: 190px;
    }

    .card2 { 
        right: 192px;
    }

    .app-store {
        left: 134px;
    }

    .chat-text {
        padding: 0 278px 50px 42px;
    }

    .chat-text h3 {
        width: 300px;
    }

    .banner-img {
        right: 0px;
        margin: 0 -127px;
        width: 300px;
    }

    .banner-img_1 {
        right: 13px;
        width: 300px;
    }

    .banner-img_2 {
        left: 160px;
    }

    .meet-up p {
        width: 300px;
    }

    .meet-up h2 {
        margin: 0 -30px;
    }

    .products-text h3 {
        margin-left: -1px;
    }

    .products-img_1 {
        padding-left: 0px;
    }

    .products-img_2 {
        top: 165px;
    }

    .shola-img {
        padding-left: 16px;
    }

    .chat-text {
        width: 300px;
    }

    .chat-text p {
        width: 300px;
        margin: 0 -26px;
    }

    .review_p p {
        padding: 0;
        width: 275px;
        margin: 0 5px;
    }

    .track-img_1 {
        top: 580px;
    }

    .track-text h3 {
        margin: 0 30px;
    }

    .track-text {
        width: 300px;
        top: 590px;
    }

    .track-text p {
        width: 300px;
    }

    .review_p h4 {
        margin: 0 37px;
    }

    .pre-next_white {
        left: 50px;
    }

    .review_p h3 {
        margin: 0 50px;
    }

    .review_h1_p p {
        width: 300px;
        margin: 0 -7px;
    }

    form label {
        left: 0px;
        top: -30px;
    }

    #subscribe {
        width: 125px;
    }

    #submit {
        width: 100px;
    }

    .footer-navlinks_2 {
        padding-left: 92px;
    }
}

@media only screen and (max-width: 280px) {

    nav {
        padding: 0 15px;
    }

    .section-1 p {
        padding: 24px 0 0 0;
        margin: 0 -30px;
        width: 250px;
    }

    .section-1 h2 {
        font-size: 22px;
        padding-right: 0;
        width: 275px;
        margin: 0 -43px;
    }

    .google-store {
        left: -20px;
    }

    .app-store {
        left: 95px;
    }

    .phone1 {
        right: 12px;

    }

    .phone2 {
        right: 70px;
    }

    .card1 {
        right: 135px;
    }

    .card2 {
        right: 144px;
    }

    .row-img1 img {
        width: 250px;
        height: 225px;
    }

    .row-img2 img {
        width: 250px;
        height: 225px;
    }

    .row-img3 img {
        width: 250px;
        height: 225px;
    }

    .banner-img {
        width: 110px;
        right: 106px;
        margin: 0 0;
    }

    .banner-img_1 img {
        width: 250px;
        height: 138px;
    }

    .banner-img_1 {
        right: 0;
        width: 250px;
        margin: 0 -137px;
    }

    .banner-img_2 img {
        width: 100px;
        height: 70px;
    }

    .banner-img_2 {
        top: 65px;
        left: 8px;
    }

    .meet-up h2 {
        margin: 0 -32px;
        width: 250px;
    }

    .meet-up p {
        margin: 0 -35px;
        width: 250px;
    }

    .products-text h3 {
        margin-left: 16px;
        width: 250px;
    }

    .products-text p {
        width: 250px;
    }

    .products-img {
        padding: 0 0 0 50px;
    }


    .products-img_1 {
        padding-left: 0px;
    }


    .products-img_2 {
        left: 125px;
    }

    .chat-text {
        padding: 0 0 50px 0;
        width: 250px;
    }

    .chat-text h3 {
        padding-right: 0;
        width: 250px;
        margin: 0 6px;
    }

    .chat-text p {
        padding-right: 0;
        margin: 0 10px;
        width: 250px;
    }

    .chat-img_2 {
        left: 95px;
    }

    .chat-img_3 {
        left: 50px;
    }

    .track-text {
        width: 250px;
        top: 615px;
    }

    .track-img_2 {
        left: 145px;
        top: 780px;
    }

    .track-img_1 {
        left: 50px;
        top: 620px;
    }

    .track-text p {
        padding: 0 10px;
        margin: 0 0;
        width: 250px;
    }

    .track-text h3 {
        margin: 10px;
        padding-bottom: 0px;
    }

    .review_h1_p {
        margin: 0 0;
    }

    .review_p p {
        padding: 0;
        width: 250px;
        margin: 0 -5px;
    }

    .review_p h4 {
        margin: 0 20px;
    }

    .review_p h3 {
        margin: 0 35px;
    }


    .review_h1_p p {
        margin: 0 0;
        width: 250px;
    }

    .shola-img {
        padding: 0;
        margin: 0 -4px;
    }
    .shola-img img {
        width: 250px;
        height: 175px;
    }

    .pre-next_white {
        left: 50px;
        top: 200px;
    }

    .pre-next_red {
        left: 150px;
        top: 200px;
    }

    .footer-navlinks_2 {
        padding-left: 65px;
        padding-top: 159px;
    }

    form label {
        left: 36px;
        top: -20px;
    }

    #subscribe {
        width: 110px;
        height: 40px;
    }

    #submit {
        width: 70px;
        height: 43px;
        font-size: 11px;
    }

    footer {
        padding-bottom: 225px;
    }

    .socials {
        padding: 20px 0 0 0px;
        margin: 0 -3px;
    }
}